# Partie 1 : Nettoyage des données

In [27]:
import pandas as pd
import numpy as np

raw = pd.read_csv('SBAnational.csv')
raw.columns

/tmp/ipykernel_13692/2249287625.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv('SBAnational.csv')

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [28]:
raw[['ApprovalDate','DisbursementDate','Term','ChgOffDate']].dropna()

       ApprovalDate DisbursementDate  Term ChgOffDate
6          2-Jun-80        22-Jul-80    45  24-Jun-91
36        28-Feb-97        30-Jun-97   137  18-Apr-02
43        11-Jun-80        31-Jul-80   120   4-Oct-89
58         7-Feb-06        28-Feb-06   167  26-Jun-14
60        31-Mar-97        28-Feb-98     7   4-Oct-05
...             ...              ...   ...        ...
899131    27-Feb-97        31-Mar-97     6   9-Dec-05
899138    27-Feb-97        31-May-97    42  29-May-01
899143    27-Feb-97        31-May-97    62  19-Sep-00
899153    27-Feb-97        31-May-97   119   7-Jul-04
899162    27-Feb-97        31-Mar-97    60   8-Mar-00

[162289 rows x 4 columns]

In [29]:
raw.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [30]:
raw = raw[raw.NewExist!=0]

In [31]:
df = raw[['State','BankState','NAICS','Term','GrAppv','MIS_Status','NoEmp', 'NewExist','CreateJob','RetainedJob', 'FranchiseCode', 'UrbanRural']]
df['GrAppv'] = df['GrAppv'].str.replace(r'$','')
df['GrAppv'] = df['GrAppv'].str.replace(r',','').astype(float)
# df.DisbursementGross = df.DisbursementGross.str.replace(r'$','')
# df.DisbursementGross = df.DisbursementGross.str.replace(r',','').astype(float)

df

/tmp/ipykernel_13692/4089903010.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['GrAppv'] = df['GrAppv'].str.replace(r'$','')
/tmp/ipykernel_13692/4089903010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GrAppv'] = df['GrAppv'].str.replace(r'$','')
/tmp/ipykernel_13692/4089903010.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GrAppv'] = df['GrAppv'].str.replace(r',','').astype(float)

,State,BankState,NAICS,Term,GrAppv,MIS_Status,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
0,IN,OH,451120,84,60000.0,P I F,4,2.0,0,0,1,0
1,IN,IN,722410,60,40000.0,P I F,2,2.0,0,0,1,0
2,IN,IN,621210,180,287000.0,P I F,7,1.0,0,0,1,0
3,OK,OK,0,60,35000.0,P I F,2,1.0,0,0,1,0
4,FL,FL,0,240,229000.0,P I F,14,1.0,7,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
899159,OH,IL,451120,60,70000.0,P I F,6,1.0,0,0,1,0
899160,OH,IL,451130,60,85000.0,P I F,6,1.0,0,0,1,0
899161,CA,CA,332321,108,300000.0,P I F,26,1.0,0,0,1,0
899162,HI,HI,0,60,75000.0,CHGOFF,6,1.0,0,0,1,0
899163,HI,HI,0,48,30000.0,P I F,1,2.0,0,0,1,0

In [32]:
df = df[df.Term!=0]

In [33]:
df.NAICS=df.NAICS.astype('string')
df.NAICS = df.NAICS.str[:2]

/tmp/ipykernel_13692/2439181322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NAICS=df.NAICS.astype('string')
/tmp/ipykernel_13692/2439181322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NAICS = df.NAICS.str[:2]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 897320 entries, 0 to 899163
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State          897307 non-null  object
 1   BankState      895757 non-null  object
 2   NAICS          897320 non-null  string
 3   Term           897320 non-null  int64
 4   GrAppv         897320 non-null  float64
 5   MIS_Status     895333 non-null  object
 6   NoEmp          897320 non-null  int64
 7   NewExist       897185 non-null  float64
 8   CreateJob      897320 non-null  int64
 9   RetainedJob    897320 non-null  int64
 10  FranchiseCode  897320 non-null  int64
 11  UrbanRural     897320 non-null  int64
dtypes: float64(2), int64(6), object(3), string(1)
memory usage: 89.0+ MB

In [35]:
liste = ['0','11','21','22','23','31','32','33','42','44','45','48','49','51','52','53','54','55','56','61','62','71','72','81']

In [36]:
liste2 = ['Others','Agriculture, forestry, fishing and hunting','Mining, quarrying, and oil and gas extraction','Utilities','Construction','Manufacturing','Manufacturing','Manufacturing','Wholesale trade','Retail trade','Retail trade','Transportation and warehousing','Transportation and warehousing','Information','Finance and insurance','Real estate and rental and leasing','Professional, scientific, and technical services','Management of companies and enterprises','Administrative and support and wase management and remediation services','Educational services','Health care and social assistance','Arts, entertainment, and recreation','Accommodation and food services','Other services (except public administration) 92 Public administration']

In [37]:
dict = {}
for key in liste:
    for value in liste2:
        dict[key] = value
        liste2.remove(value)
        break
dict

{'0': 'Others',
 '11': 'Agriculture, forestry, fishing and hunting',
 '21': 'Mining, quarrying, and oil and gas extraction',
 '22': 'Utilities',
 '23': 'Construction',
 '31': 'Manufacturing',
 '32': 'Manufacturing',
 '33': 'Manufacturing',
 '42': 'Wholesale trade',
 '44': 'Retail trade',
 '45': 'Retail trade',
 '48': 'Transportation and warehousing',
 '49': 'Transportation and warehousing',
 '51': 'Information',
 '52': 'Finance and insurance',
 '53': 'Real estate and rental and leasing',
 '54': 'Professional, scientific, and technical services',
 '55': 'Management of companies and enterprises',
 '56': 'Administrative and support and wase management and remediation services',
 '61': 'Educational services',
 '62': 'Health care and social assistance',
 '71': 'Arts, entertainment, and recreation',
 '72': 'Accommodation and food services',
 '81': 'Other services (except public administration) 92 Public administration'}

In [38]:
df.NAICS = df.NAICS.map(dict)
df.MIS_Status = df.MIS_Status.map({'P I F': '0','CHGOFF':'1'})

/tmp/ipykernel_13692/1961715242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.NAICS = df.NAICS.map(dict)
/tmp/ipykernel_13692/1961715242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.MIS_Status = df.MIS_Status.map({'P I F': '0','CHGOFF':'1'})

In [39]:
df = df[df['State'].notna()]

In [40]:
df.dropna(inplace=True)
df.isnull().sum()

State            0
BankState        0
NAICS            0
Term             0
GrAppv           0
MIS_Status       0
NoEmp            0
NewExist         0
CreateJob        0
RetainedJob      0
FranchiseCode    0
UrbanRural       0
dtype: int64

In [41]:
df.columns

Index(['State', 'BankState', 'NAICS', 'Term', 'GrAppv', 'MIS_Status', 'NoEmp',
       'NewExist', 'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural'],
      dtype='object')

In [42]:
df.State = df.State.astype('string')
df.NAICS = df.NAICS.astype('string')
df.MIS_Status = df.MIS_Status.astype(int)

In [43]:
df.columns = ['State','BankState', 'Industry', 'Term', 'GrAppv', 'MIS_Status','NoEmp', 'NewExist', 'CreateJob', 'RetainedJob', 'FranchiseCode','UrbanRural']

In [44]:
df

,State,BankState,Industry,Term,GrAppv,MIS_Status,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
0,IN,OH,Retail trade,84,60000.0,0,4,2.0,0,0,1,0
1,IN,IN,Accommodation and food services,60,40000.0,0,2,2.0,0,0,1,0
2,IN,IN,Health care and social assistance,180,287000.0,0,7,1.0,0,0,1,0
3,OK,OK,Others,60,35000.0,0,2,1.0,0,0,1,0
4,FL,FL,Others,240,229000.0,0,14,1.0,7,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
899159,OH,IL,Retail trade,60,70000.0,0,6,1.0,0,0,1,0
899160,OH,IL,Retail trade,60,85000.0,0,6,1.0,0,0,1,0
899161,CA,CA,Manufacturing,108,300000.0,0,26,1.0,0,0,1,0
899162,HI,HI,Others,60,75000.0,1,6,1.0,0,0,1,0
899163,HI,HI,Others,48,30000.0,0,1,2.0,0,0,1,0

In [45]:
df['Real_estate'] = df.Term.apply(lambda x: 0 if x<240 else 1 )

In [46]:
df.NewExist = df.NewExist.apply(lambda x: 0 if x == 1 else 1)
df.NewExist.value_counts()
df.isnull().sum()
df.FranchiseCode=df.FranchiseCode.apply(lambda x: 1 if x ==0 else x)
df.FranchiseCode.value_counts()

1        841908
78760      3359
68020      1916
50564      1029
21780       997
          ...
53323         1
51003         1
63615         1
3488          1
15930         1
Name: FranchiseCode, Length: 2763, dtype: int64

In [47]:
df.NewExist = df.NewExist.astype(str)
df.UrbanRural= df.UrbanRural.astype(str)
df.Real_estate = df.Real_estate.astype(str)
df.MIS_Status = df.MIS_Status.astype(str)
df.FranchiseCode = df.FranchiseCode.astype(str)

In [48]:
df

,State,BankState,Industry,Term,GrAppv,MIS_Status,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,Real_estate
0,IN,OH,Retail trade,84,60000.0,0,4,1,0,0,1,0,0
1,IN,IN,Accommodation and food services,60,40000.0,0,2,1,0,0,1,0,0
2,IN,IN,Health care and social assistance,180,287000.0,0,7,0,0,0,1,0,0
3,OK,OK,Others,60,35000.0,0,2,0,0,0,1,0,0
4,FL,FL,Others,240,229000.0,0,14,0,7,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,OH,IL,Retail trade,60,70000.0,0,6,0,0,0,1,0,0
899160,OH,IL,Retail trade,60,85000.0,0,6,0,0,0,1,0,0
899161,CA,CA,Manufacturing,108,300000.0,0,26,0,0,0,1,0,0
899162,HI,HI,Others,60,75000.0,1,6,0,0,0,1,0,0
899163,HI,HI,Others,48,30000.0,0,1,1,0,0,1,0,0

In [53]:
df=df[df['BankState'].isin(df['State'])]

In [54]:
df.to_csv('data.csv',index=False)

In [51]:
from pandas_profiling import ProfileReport


profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_widgets()
profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

KeyboardInterrupt: